<header class="header">
    <nav class="topnav navbar fixed-top">
      <a class="active" routerLink="/"><i class="fas fa-home"></i>&nbsp;Hadnet</a>
      <a routerLink="/business-listings"><i class="fas fa-list"></i></a>
      <a routerLink="/isThisBlackOwned"><i class="fas fa-eye"></i></a>
      <a *ngIf="authService.hasBusiness()" (click)="profileService.changeProfile(authService.currentUsersBusiness)" routerLink="/business-profile"><i class="fas fa-address-card"></i></a>
      <a *ngIf="!authService.isLoggedIn" routerLink="/login"><i class="fas fa-sign-in-alt"></i></a>
      <a *ngIf="authService.isLoggedIn" routerLink="" (click)="authService.logout()"><i class="fas fa-sign-out-alt"></i></a>
    </nav>
</header>
