<div class="text-center p-t-55 p-b-30">
        <span id="itbo-title">
          <h4>Is This Business Black Owned?</h4>
        </span>
</div>
<div style="text-align:center">
  <div class="alert alert-info" *ngIf="!loading && businessNotFound" role="alert">
      Couldn't recognize business, please try again.
  </div>

  <div *ngIf="!loading">
    <webcam [height]="500" [width]="375" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="actionBtn" *ngIf="showWebcam" (click)="triggerSnapshot();"><i class="fas fa-camera"></i> Take A Picture of Business Logo</button>
    <hr>
    <div class="container" id="help-button-itbo">
        <button type="button" class="btn btn" data-toggle="modal" data-target="#ITBOinfo"><i class="far fa-question-circle"></i> How do I use this feature? </button>
      </div>

      <div class="modal fade" id="ITBOinfo" tabindex="-1" role="dialog" aria-labelledby="ITBOLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="ITBOLabel" >Is This Business Black Owned?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              Welcome to the <B>I.T.B.B.O.</B> page!<br>
              To have the best experience while using our <B>I.T.B.B.O.</B> picture based recognition system, please take a clear photo of the logo or sign of a business and we will tell you if this business is African-American owned or currently unrecognized.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button> -->
    <br/>
    <!-- <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button> -->
    <!-- <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label> -->
    <br/>
    <!-- DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px"> -->
    <!-- <button (click)="showNextWebcam(deviceId);">Activate</button> -->
  </div>
  <div class="spinner-border mt-3" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>

<!-- <div class="snapshot" *ngIf="webcamImage">
  <img [src]="webcamImage.imageAsDataUrl"/>
</div> -->
<div class="container" *ngIf="showBusinessSummary" >
  <h4>{{ business.name | titlecase}}</h4><br>
  <p style="white-space: pre-wrap">
    <i class="far fa-envelope"></i> {{ business.email | lowercase }}<br>
    <i class="fas fa-map-marker-alt"></i> {{ business.address | titlecase | formatAddress }}<br>
  </p>
  <hr>
  <span class="row">
    <div class="col-sm">
      <h4>Is this the business you'd like to visit?</h4>
    </div>
    <div class="col-sm">
      <a routerLink="/business-profile"><button class="btn btn-dark btn-block btn-sm" (click)="changeBusinessProfile(business);">yes</button></a> <button class="btn btn-dark btn-block btn-sm" (click)="returnToCameraView()">nope</button>
    </div>
  </span>

</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
