<div class="container-fluid">
  <p class="display-4 text-center">Reviews</p>
  <div *ngIf="authService.isLoggedIn">
    <div class="row pb-2">
      <div class="col">
        <button (click)="toggleForm()" *ngIf="!showReviewForm" class="btn btn-block btn-secondary pb-2">Write a Review</button>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="showReviewForm">
        <div class="form-group">
          <select class="custom-select" #userRating required>
            <option selected>Select a Rating</option>
            <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
            <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
            <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
            <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
            <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
          </select>
          <div class="input-group">
            <textarea class="form-control" placeholder="Review goes here..." #userReview required></textarea>
          </div>
          <button (click)="submitReview(userReview.value, userRating.value)" class="btn btn-block btn-secondary pb-2">Submit Review</button>
        </div>
      </div>
    </div>
  </div>
  <ul class="userReview list-group" *ngFor="let review of reviews">
    <li class="list-group-item">
      <div>
        <img class="reviewProfilePic img-thumbnail" src="{{ review.userImage }}">
      </div>
      <div class="reviewDescription">
        <span class="font-weight-bold">Name: </span>{{ review.userName }}<br>
        <span class="font-weight-bold">Rating: </span><span [innerHtml]='review.ratingNumber | rating'></span><br>
        <span class="font-weight-bold">Experience: </span> {{ review.text }}
      </div>
    </li>
  </ul>
</div>
<!-- <app-ratings-item></app-ratings-item> **worry about individual ratings later, for now grabbing straight
from the source into ratings, each item can be a component later if we want -->
