<div class="container-fluid">
  <p class="display-4 text-center">Reviews</p>
  <li>
    <ul class="userReview" *ngFor="let review of reviews">
      <div>
        <img class="reviewProfilePic" src="{{ userProfilePic }}">
      </div>
      <div class="reviewDescription">
        Name: <strong> {{ userDisplayName }} </strong>
      <br>
      Rating: {{ review.ratingNumber }}
      <br>
      Experience: {{ review.text }}
      </div>
    </ul>
  </li>
</div>
<!-- <app-ratings-item></app-ratings-item> **worry about individual ratings later, for now grabbing straight
from the source into ratings, each item can be a component later if we want -->
