<div class="container">
  <div class="row">
    <div class="col">
      <form class="login100-form validate-form">

        <div style="padding-top: 15px">
          <button (click)="authService.fbLogin()" class="btn btn-primary btn-block">
            <i class="fab fa-facebook-f"></i>
            Login with Facebook
          </button>
        </div>
        <hr>
        <div class="text-center"><h5>Or</h5></div>
        <hr>
        <div class="text-center p-t-55 p-b-30">
          <span class="txt1">
            <h4>Login with email</h4>
          </span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email: ex@abc.xyz">
          <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-20" data-validate = "Please enter password">
          <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="btn btn-dark btn-block" (click)="authService.login(userEmail.value, userPassword.value)">
            Login
          </button>
        </div><br>
        
        <hr>
        <div class="text-center">
          <span class="txt2 p-b-10">
            Don’t have an account?
          </span>
        </div>

        <div class="container-login100-form-btn">
          <button routerLink="/signup" class="btn btn-dark btn-block">
            Sign up now
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>