<div class="container-fluid h-100">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Business Listings</h1>
    </div>
  </div>
<div class='row'>
  <div class='col'>
    <form class="form-inline" (ngSubmit)="onSubmit()">
      <input class="border border-dark w-75" type="text" name="title" [(ngModel)]="title" placeholder="Search...">
      <input type="submit" value="Search" class="btn btn-dark btn-sm">
    </form>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="col">
      <ul *ngFor="let businessListing of businessListings" class="list-group">
        <li (click)="checkListing(businessListing)" class="list-group-item">
          <div class="row">
            <div class="col-4">
              <img class="img-fluid" *ngIf="businessListing.ftImg.url as url; else elseBlock" src="{{url}}">
              <ng-template #elseBlock><img class="img-fluid" src="https://i.imgur.com/BNtJWJM.png"></ng-template>

            </div>
            <div class="col-8">
                <h5>{{ businessListing.name }}</h5>
                <p style="font-size: 14px;">
                  <span class="font-weight-bold">Average Rating: </span>{{ businessListing.average_rating }}<br>
                  <span class="font-weight-bold">Email: </span>{{ businessListing.email }}<br>
                  <span class="font-weight-bold">Phone: </span>{{ businessListing.phoneNumber }}<br>
                  <span class="font-weight-bold">Address: </span>{{ businessListing.address }}<br>
                </p>
            </div> 
          </div>
          <div class="row">
            <div class="col">
              <button (click)="goToProfile(businessListing)" class="btn btn-dark btn-block">Profile</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
